
<div class = "well">

<p class = "lead"> About Us </p>

	In an effort to improve conditions for the more than 2.5 billion people worldwide with no access to safe sanitation, the <abbr title="The Bill and Melinda Gates foundation is the largest transparently operated foundation in the world">Bill & Melinda Gates Foundation</abbr> last year awarded grants totaling US$3 million to eight universities to reinvent the toilet. At the two-day “Reinventing the Toilet” fair held in Seattle this week, where Bill Gates was on hand with 50 gallons (189 l) of fake feces made from soybeans and rice to put the various designs through their paces, a <a href="#test_modal" data-toggle="modal"> California Institute of Technology (Caltech) team </a> claimed first place for their solar-powered toilet.

</div>



 <div class="modal fade" id="test_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Help</h3>
  </div>
  <div class="modal-body">
    SEATTLE (AP) — These aren't your typical loos. One uses microwave energy to transform human waste into electricity. Another captures urine and uses it for flushing. And still another turns excrement into charcoal.

They are part of a Bill & Melinda Gates Foundation competition to reinvent the toilet for the 2.5 billion people around the world who don't have access to modern sanitation.

Scientists from around the world have taken up the challenge, and the foundation announced some projects Tuesday that will be getting more money to take their ideas from the lab to cities.

There, local entrepreneurs will use the new technology to turn pollution into cash.

"We couldn't be happier with the response that we've gotten," Bill Gates said.

To pass the foundation's threshold for the world's next toilet, it must operate without running water, electricity or a septic system, not discharge pollutants, preferably capture energy or other resources, and operate at a cost of 5 cents a day.

The United Nations estimates disease caused by unsafe sanitation results in about half the hospitalizations in the developing world. About 1.5 million children die each year from diarrheal disease.

Scientists believe most of these deaths could be prevented with proper sanitation, along with safe drinking water and improved hygiene.

The foundation expects to field test its first prototypes within the next three years.

Most of the prototypes on display this week in the open courtyard of the foundation's Seattle headquarters turn solid waste into energy. This is both a practical and pragmatic solution to the solid waste puzzle, said Carl Hensman, program officer for the foundation's water, sanitation and hygiene team.

Many recycle waste into other usable substances such as animal feed, water for irrigation, or even just energy and water to run their own systems.

Some, like the winning project from Caltech, use chemistry and engineering to completely transform the waste.

Clement Cid, a Caltech grad student from Trouillas, France, said it has been intellectually rewarding to work with scientists from a variety of specialties.

"You can come up with great ideas," he said, adding that the toilet fair offered more opportunities for idea sharing.

Other projects on display were not so high-tech, including one from the London School of Hygiene and Tropical Medicine that sends black soldier fly larvae inside latrines and even home toilets to process waste, resulting in high quality, environmentally friendly animal feed at a cost of a penny a day.

The fly larvae project is already being field tested in Cape Town, South Africa, and the inventors are working on a kit to sell to entrepreneurs. They have had inquiries from Haiti, Sudan, Kenya and Ghana about adopting the approach.

"At the end of the day it will look very low-tech, but there's a lot of science behind it," said Walter Gibson, a medical biochemist who is part of the development team.

The Gates toilet focus started just about a year ago, and including grants announced Tuesday, $370 million in foundation dollars have been committed to reinventing the toilet. Hensman said the foundation decided to hold a toilet fair this week to show how far the scientists have gotten in that time, and to give them an opportunity to learn from each other and potentially collaborate.

Among those scheduled to attend the toilet fair were government ministers from African nations, utility workers and potential financial partners like UNICEF and Oxfam.

Reinventing the toilet has the potential to improve lives as well as the environment.

Flush toilets waste tons of potable drinking water each year, fail to recapture reusable resources like the potential energy in solid waste and are simply impractical in so many places.

Gates predicted the result of this project would reach beyond the developing world.

"If we do it right, there's every possibility that some of these designs would also be solutions for rich and middle-income countries," Gates said.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
   
  </div>
</div>