
<div class = "well">

<p class = "lead"> About Us </p>

	In an effort to improve conditions for the more than 2.5 billion people worldwide with no access to safe sanitation, the <abbr title="The Bill and Melinda Gates foundation is the largest transparently operated foundation in the world">Bill & Melinda Gates Foundation</abbr> last year awarded grants totaling US$3 million to eight universities to reinvent the toilet. At the two-day “Reinventing the Toilet” fair held in Seattle this week, where Bill Gates was on hand with 50 gallons (189 l) of fake feces made from soybeans and rice to put the various designs through their paces, a <a href="#test_modal" data-toggle="modal"> California Institute of Technology (Caltech) team </a> claimed first place for their solar-powered toilet.

</div>







                                <p>jQuery by <label id="demo-inPlaceEditor">John Resig</label> is a cross-browser JS
library designed to simplify the client-side scripting of HTML. It was released in January of 2006 at BarCamp NYC. Used by over 46% of the 10,000 
most visited websites, it's the most popular JavaScript library in use today.</p>

                                <p>jQuery is free, open source software, dual-licensed under the MIT License and GNU General Public License, Version 2.[4] jQuery's syntax is designed to make 
it easier to navigate a document, select DOM elements, create animations, handle events, and develop Ajax applications.</p>


                                //plugin script for demo in place editor---
<script>
    type="text/javascript">
$(document).ready(function () {
    var hoverHTMLDemoInPlaceEditor = '<div>Hmm!
        People may think that it was him who wrote jQuery when it was actually written by
        <br />' +
                                        '<form>' +
                                        '<input id="funny-input-value" type="text"
                                            /><br/><br/>' +
                                        '<input type="submit" id="btn-funny"
                                            value="Yes, I know it better!" /><br/> ' +
                                        '</form>' +
                                        '<br/><small>This is just for fun!</small>' +
                                        '</div>';

    $("#demo-inPlaceEditor").hovercard({
        detailsHTML: hoverHTMLDemoInPlaceEditor,
        width: 500
    });

    $('#btn-funny').live("click", function (e) {
        e.preventDefault();
        var newText = $('#funny-input-value').val().length > 0 ? $('#funny-input-value').val() : 'Super Man';
        $('#demo-inPlaceEditor').text(newText);
        $('.hc-details').hide();
        $.notify('Updated. By the way do you really think '+ newText + ' wrote jQuery!', {
            background: '#ffffbb',
            autoHide: true,
            autoHideDelay: 6000,
            messageType: "success",
            clickAnywhereToClose: true,
            position: "bottom-right",
            width: 400
        });
    });
});
</script>


 <div class="modal fade" id="test_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Help</h3>
  </div>
  <div class="modal-body">
    SEATTLE (AP) — These aren't your typical loos. One uses microwave energy to transform human waste into electricity. Another captures urine and uses it for flushing. And still another turns excrement into charcoal.

They are part of a Bill & Melinda Gates Foundation competition to reinvent the toilet for the 2.5 billion people around the world who don't have access to modern sanitation.

Scientists from around the world have taken up the challenge, and the foundation announced some projects Tuesday that will be getting more money to take their ideas from the lab to cities.

There, local entrepreneurs will use the new technology to turn pollution into cash.

"We couldn't be happier with the response that we've gotten," Bill Gates said.

To pass the foundation's threshold for the world's next toilet, it must operate without running water, electricity or a septic system, not discharge pollutants, preferably capture energy or other resources, and operate at a cost of 5 cents a day.

The United Nations estimates disease caused by unsafe sanitation results in about half the hospitalizations in the developing world. About 1.5 million children die each year from diarrheal disease.

Scientists believe most of these deaths could be prevented with proper sanitation, along with safe drinking water and improved hygiene.

The foundation expects to field test its first prototypes within the next three years.

Most of the prototypes on display this week in the open courtyard of the foundation's Seattle headquarters turn solid waste into energy. This is both a practical and pragmatic solution to the solid waste puzzle, said Carl Hensman, program officer for the foundation's water, sanitation and hygiene team.

Many recycle waste into other usable substances such as animal feed, water for irrigation, or even just energy and water to run their own systems.

Some, like the winning project from Caltech, use chemistry and engineering to completely transform the waste.

Clement Cid, a Caltech grad student from Trouillas, France, said it has been intellectually rewarding to work with scientists from a variety of specialties.

"You can come up with great ideas," he said, adding that the toilet fair offered more opportunities for idea sharing.

Other projects on display were not so high-tech, including one from the London School of Hygiene and Tropical Medicine that sends black soldier fly larvae inside latrines and even home toilets to process waste, resulting in high quality, environmentally friendly animal feed at a cost of a penny a day.

The fly larvae project is already being field tested in Cape Town, South Africa, and the inventors are working on a kit to sell to entrepreneurs. They have had inquiries from Haiti, Sudan, Kenya and Ghana about adopting the approach.

"At the end of the day it will look very low-tech, but there's a lot of science behind it," said Walter Gibson, a medical biochemist who is part of the development team.

The Gates toilet focus started just about a year ago, and including grants announced Tuesday, $370 million in foundation dollars have been committed to reinventing the toilet. Hensman said the foundation decided to hold a toilet fair this week to show how far the scientists have gotten in that time, and to give them an opportunity to learn from each other and potentially collaborate.

Among those scheduled to attend the toilet fair were government ministers from African nations, utility workers and potential financial partners like UNICEF and Oxfam.

Reinventing the toilet has the potential to improve lives as well as the environment.

Flush toilets waste tons of potable drinking water each year, fail to recapture reusable resources like the potential energy in solid waste and are simply impractical in so many places.

Gates predicted the result of this project would reach beyond the developing world.

"If we do it right, there's every possibility that some of these designs would also be solutions for rich and middle-income countries," Gates said.
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
   
  </div>
</div>



<script>
(function (a) { a.fn.hovercard = function (b) { var c = { width: 300, openOnLeft: false, openOnTop: false, cardImgSrc: "", detailsHTML: "", twitterScreenName: "", showTwitterCard: false, facebookUserName: "", showFacebookCard: false, showCustomCard: false, customCardJSON: {}, customDataUrl: "", background: "#ffffff", delay: 0, autoAdjust: true, onHoverIn: function () { }, onHoverOut: function () { } }; var b = a.extend(c, b); if (a("#css-hovercard").length <= 0) { var d = '<style id="css-hovercard" type="text/css">' + ".hc-preview { position: relative; display:inline; }" + ".hc-name { font-weight:bold; position:relative; display:inline-block; }" + ".hc-details { left:-10px; margin-right:80px; text-align:left; font-family:Sans-serif !important; font-size:12px !important; color:#666 !important; line-height:1.5em; border:solid 1px #ddd; position:absolute;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;top:-10px;padding:2em 10px 10px;-moz-box-shadow:5px 5px 5px #888;-webkit-box-shadow:5px 5px 5px #888;box-shadow:5px 5px 5px #888;display:none;}" + ".hc-pic { width:70px; margin-top:-1em; float:right;  }" + ".hc-details-open-left { left: auto; right:-10px; text-align:right; margin-left:80px; margin-right:0; } " + ".hc-details-open-left > .hc-pic { float:left; } " + ".hc-details-open-top { bottom:-10px; top:auto; padding: 10px 10px 2em;} " + ".hc-details-open-top > .hc-pic { margin-top:10px; float:right;  }" + ".hc-details .s-action{ position: absolute; top:8px; right:5px; } " + ".hc-details .s-card-pad{ border-top: solid 1px #eee; margin-top:10px; padding-top:10px; overflow:hidden; } " + ".hc-details-open-top .s-card-pad { border:none; border-bottom: solid 1px #eee; margin-top:0;padding-top:0; margin-bottom:10px;padding-bottom:10px; }" + ".hc-details .s-card .s-strong{ font-weight:bold; color: #555; } " + ".hc-details .s-img{ float: left; margin-right: 10px; max-width: 70px;} " + ".hc-details .s-name{ color:#222; font-weight:bold;} " + ".hc-details .s-loc{ float:left;}" + ".hc-details-open-left .s-loc{ float:right;} " + ".hc-details .s-href{ clear:both; float:left;} " + ".hc-details .s-desc{ float:left; font-family: Georgia; font-style: italic; margin-top:5px;width:100%;} " + ".hc-details .s-username{ text-decoration:none;} " + ".hc-details .s-stats { display:block; float:left; margin-top:5px; clear:both; padding:0px;}" + ".hc-details ul.s-stats li{ list-style:none; float:left; display:block; padding:0px 10px !important; border-left:solid 1px #eaeaea;} " + ".hc-details ul.s-stats li:first-child{ border:none; padding-left:0 !important;} " + ".hc-details .s-count { font-weight: bold;} " + '.</style>")'; a(d).appendTo("head") } return this.each(function () { function g(c, d, e, g) { var h, i, j, k, l; switch (c) { case "twitter": { i = "http://api.twitter.com/1/users/lookup.json?screen_name=" + d; h = function (a) { a = a[0]; return '<div class="s-card s-card-pad">' + (a.profile_image_url ? '<img class="s-img" src="' + a.profile_image_url + '" />' : "") + (a.name ? '<label class="s-name">' + a.name + " </label>" : "") + (a.screen_name ? '(<a class="s-username" title="Visit Twitter profile for ' + a.name + '" href="http://twitter.com/' + a.screen_name + '">@' + a.screen_name + "</a>)<br/>" : "") + (a.location ? '<label class="s-loc">' + a.location + "</label>" : "") + (a.description ? '<p class="s-desc">' + a.description + "</p>" : "") + (a.url ? '<a class="s-href" href="' + a.url + '">' + a.url + "</a><br/>" : "") + '<ul class="s-stats">' + (a.statuses_count ? '<li>Tweets<br /><span class="s-count">' + a.statuses_count + "</span></li>" : "") + (a.friends_count ? '<li>Following<br /><span class="s-count">' + a.friends_count + "</span></li>" : "") + (a.followers_count ? '<li>Followers<br /><span class="s-count">' + a.followers_count + "</span></li>" : "") + "</ul>" + "</div>" }; k = "Contacting Twitter..."; l = "Invalid username or you have exceeded Twitter request limit.<br/><small>Please note, Twitter only allows 150 requests per hour.</small>"; j = function () { }; if (a("#t-follow-script").length <= 0) { var m = document.createElement("script"); m.type = "text/javascript"; m.src = "//platform.twitter.com/widgets.js"; m.id = "t-follow-script"; a("body").append(m) } e.append('<span class="s-action"><a href="https://twitter.com/' + d + '" data-show-count="false" data-button="grey" data-width="65px" class="twitter-follow-button">Follow</a></span>') } break; case "facebook": { i = "https://graph.facebook.com/" + d, h = function (a) { return '<div class="s-card s-card-pad">' + '<img class="s-img" src="http://graph.facebook.com/' + a.id + '/picture" />' + '<label class="s-name">' + a.name + " </label><br/>" + (a.link ? '<a class="s-loc" href="' + a.link + '">' + a.link + "</a><br/>" : "") + (a.likes ? '<label class="s-loc">Liked by </span> ' + a.likes + "</label><br/>" : "") + (a.description ? '<p class="s-desc">' + a.description + "</p>" : "") + (a.start_time ? '<p class="s-desc"><span class="s-strong">Start Time:</span><br/>' + a.start_time + "</p>" : "") + (a.end_time ? '<p class="s-desc"><span class="s-strong">End Time:<br/>' + a.end_time + "</p>" : "") + (a.founded ? '<p class="s-desc"><span class="s-strong">Founded:</span><br/>' + a.founded + "</p>" : "") + (a.mission ? '<p class="s-desc"><span class="s-strong">Mission:</span><br/>' + a.mission + "</p>" : "") + (a.company_overview ? '<p class="s-desc"><span class="s-strong">Overview:</span><br/>' + a.company_overview + "</p>" : "") + (a.products ? '<p class="s-desc"><span class="s-strong">Products:</span><br/>' + a.products + "</p>" : "") + (a.website ? '<p class="s-desc"><span class="s-strong">Web:</span><br/><a href="' + a.website + '">' + a.website + "</a></p>" : "") + (a.email ? '<p class="s-desc"><span class="s-strong">Email:</span><br/><a href="' + a.email + '">' + a.email + "</a></p>" : "") + "</div>" }; k = "Contacting Facebook..."; l = "The requested user, page, or event could not be found. Please try a different one."; j = function (b) { if (a("#fb-like-script").length <= 0) { var c = document.createElement("script"); c.type = "text/javascript"; c.text = "(function(d, s, id) {" + "var js, fjs = d.getElementsByTagName(s)[0];" + "if (d.getElementById(id)) {return;}" + "js = d.createElement(s); js.id = id;" + 'js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=140270912730552";' + "fjs.parentNode.insertBefore(js, fjs);" + '}(document, "script", "facebook-jssdk"));'; c.id = "fb-like-script"; a("body").prepend(c); a("body").prepend('<div id="fb-root"></div>') } e.append('<span class="s-action"><div class="fb-like" data-href="' + b.link + '" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div></span>') } } break; case "custom": { i = d, h = function (a) { return '<div class="s-card s-card-pad">' + (a.image ? '<img class="s-img" src=' + a.image + " />" : "") + (a.name ? '<label class="s-name">' + a.name + " </label><br/>" : "") + (a.link ? '<a class="s-loc" href="' + a.link + '">' + a.link + "</a><br/>" : "") + (a.bio ? '<p class="s-desc">' + a.bio + "</p>" : "") + (a.website ? '<p class="s-desc"><span class="s-strong">Web:</span><br/><a href="' + a.website + '">' + a.website + "</a></p>" : "") + (a.email ? '<p class="s-desc"><span class="s-strong">Email:</span><br/><a href="' + a.email + '">' + a.email + "</a></p>" : "") + "</div>" }; k = "Loading..."; l = "Sorry, no data found."; j = function () { } } break; default: { } break } if (a.isEmptyObject(g)) { a.ajax({ url: i, type: "GET", dataType: "jsonp", timeout: 4e3, beforeSend: function () { e.find(".s-message").remove(); e.append('<p class="s-message">' + k + "</p>") }, success: function (a) { if (a.length <= 0) { e.find(".s-message").html(l) } else { e.find(".s-message").remove(); e.prepend(h(a)); f(e.closest(".hc-preview")); e.stop(true, true).delay(b.delay).fadeIn(); j(a) } }, error: function (a, b, c) { e.find(".s-message").html(l) } }) } else { e.prepend(h(g)) } } function f(a) { var c = a.find(".hc-details").eq(0); var d = a[0].getBoundingClientRect(); var e = d.top - 20; var f = d.left + 35 + c.width(); var g = d.top + 35 + c.height(); var h = d.top - 10; if (b.openOnLeft || b.autoAdjust && f > window.innerWidth) { c.addClass("hc-details-open-left") } else { c.removeClass("hc-details-open-left") } if (b.openOnTop || b.autoAdjust && g > window.innerHeight) { c.addClass("hc-details-open-top") } else { c.removeClass("hc-details-open-top") } } var c = a(this); c.wrap('<div class="hc-preview" />'); c.addClass("hc-name"); var d = ""; if (b.cardImgSrc.length > 0) { d = '<img class="hc-pic" src="' + b.cardImgSrc + '" />' } var e = '<div class="hc-details" >' + d + b.detailsHTML + "</div>"; c.after(e); c.siblings(".hc-details").eq(0).css({ width: b.width, background: b.background }); c.closest(".hc-preview").hover(function () { var d = a(this); f(d); d.css("zIndex", "200"); c.css("zIndex", "100").find(".hc-details").css("zIndex", "50"); var e = d.find(".hc-details").eq(0); e.stop(true, true).delay(b.delay).fadeIn(); if (typeof b.onHoverIn == "function") { if (b.showCustomCard && e.find(".s-card").length <= 0) { var h = b.customDataUrl; if (typeof c.attr("data-hovercard") == "undefined") { } else if (c.attr("data-hovercard").length > 0) { h = c.attr("data-hovercard") } g("custom", h, e, b.customCardJSON) } if (b.showTwitterCard && e.find(".s-card").length <= 0) { var i = b.twitterScreenName.length > 0 ? b.twitterScreenName : c.text(); if (typeof c.attr("data-hovercard") == "undefined") { } else if (c.attr("data-hovercard").length > 0) { i = c.attr("data-hovercard") } g("twitter", i, e) } if (b.showFacebookCard && e.find(".s-card").length <= 0) { var j = b.facebookUserName.length > 0 ? b.facebookUserName : c.text(); if (typeof c.attr("data-hovercard") == "undefined") { } else if (c.attr("data-hovercard").length > 0) { j = c.attr("data-hovercard") } g("facebook", j, e) } b.onHoverIn.call(this) } }, function () { $this = a(this); $this.find(".hc-details").eq(0).stop(true, true).fadeOut(300, function () { $this.css("zIndex", "0"); c.css("zIndex", "0").find(".hc-details").css("zIndex", "0"); if (typeof b.onHoverOut == "function") { b.onHoverOut.call(this) } }) }); }) } })(jQuery)
</script>