      <div data-spy="scroll" data-target="#navbarExample" data-offset="1" class="scrollspy-example">
        <h4 id="privacy">How do you protect my privacy?</h4> <br/>
        <p>At reinventing the toilet, we are keenly aware of the trust our users place in us, and our responsibility to protect their privacy. We believe transparency and choice are the foundations of privacy. To help you make informed decisions about your own privacy, we work to let you know what information we collect when you use our products and services and how we use that information to improve your service.</p>
        <br/><h4 id="cookies">Does you use cookies?</h4><br/>
        <p>Yes, like most websites we use cookies to improve your experience and to provide services and advertising. Cookies help us keep a record of your preferences, like whether you want your results in English or French, or if you use our admin panel.</p>
        <br/><h4 id="concerns">How can I contact you if I have a privacy question or complaint?</h4><br/>
        <p>If you feel there has been a breach of you or someone elses privacy please enclose all appropriate information including the time and date of the acitivty and then you can contact us any time through our privacy contact form. If you prefer, you can also write to: Privacy Matters c/o James Watling 1600 Amphitheatre Parkway Mountain View, California, 94043 USA</p>
        <br/><h4 id="government">How often are you asked by governments to provide data on users?</h4><br/>
        <p>Like other technology and communications companies, we receive requests from government agencies around the world to provide information about users of our services and products. To help increase transparency about these requests we have created the Government Requests Tool, which shows the number of requests that we have received that relate primarily to criminal investigations. For more information about the tool and the nature of these requests, please check the Government Requests Tool FAQ.</p>
        <br/><h4 id="remove">How can I remove information about myself from this website?</h4><br/>
        <p>
          Like all websites, we are a reflection of the content and information publicly available on the web. we do not have the ability to remove content directly from the web, so removing search results from us or another search engine leaves the underlying content unaffected. If you want to remove something from the web, you should contact the webmaster of the site and ask him or her to make a change. Once the content has been removed and our search engine crawl has visited the page again, the information will no longer appear in our search results. If you have an urgent removal request, you can also visit our help page for more information.</p>

        </div>


      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>

      </div>


         <script>

    $('#navbarExample').scrollspy()

    </script>