<style type="text/css">

.gallerycontainer{
position: relative;
/*Add a height attribute and set to largest image's height to prevent overlaying*/
}

.thumbnail img{
border: 1px solid white;
margin: 0 5px 5px 0;
}

.thumbnail:hover{
background-color: transparent;
}

.thumbnail:hover img{
border: 0px solid black;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightyellow;
padding: 0px;
left: -1000px;
border: 0px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 5px;
}

.thumbnail:hover span{ /*CSS for enlarged image*/
visibility: visible;
top: 0;
left: 230px; /*position where enlarged image should offset horizontally */
z-index: 50;
}

</style>




<h1 class ="pull-right"> Competition Winners </h1>
<br />
<br />
<br />
<br />




<div class="gallerycontainer">


<a class="thumbnail" href="#thumb"><img src="/assets/winner.jpg" width="100px" height="66px" border="0" /><span><img src="/assets/winner.jpg" height ="500px" width = "500px" /><br />Prof Michael Hoffman shows off his winning design </span></a>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Winner</h4>
<br />
<a class="thumbnail" href="#thumb"><img src="/assets/toilet.jpg" width="100px" height="66px" border="0" /><span><img src="/assets/toilet.jpg" height ="500px" width = "500px"/><br />Conventional Toilet</span></a>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Second</h4>
<br />
<a class="thumbnail" href="#thumb"><img src="/assets/toilet2.jpg" width="100px" height="66px" border="0" /><span><img src="/assets/toilet2.jpg" height ="500px" width = "500px" /><br />Waterless Toilet</span></a>

<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Third</h4>
<br />
<a class="thumbnail" href="#thumb"><img src="/assets/toilet3.jpg" width="100px" height="66px" border="0" /><span><img src="/assets/toilet3.jpg" height ="500px" width = "500px"/><br /> Inefficient Toilet</span></a>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fourth</h4>
<br />
</div>









