<h1>Latest News</h1>

  <% if current_user %>
  <p align = "right">
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-success' %>
  </p>
  <% end %>

<div id="posts">
  <%= render @posts.reverse! %>
 
</div>

<%= will_paginate @posts %>